# Frontend app URL config
NG_APP_API_URL=http://localhost:8080/api

# Pusher public config (optional)
NG_APP_PUSHER_KEY=your_pusher_key
NG_APP_PUSHER_CLUSTER=ap1
NG_APP_PUSHER_AUTH_ENDPOINT=http://localhost:8080/api/chat/pusher/auth
