@import "swiper/swiper-bundle.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.cart-pulse {
  animation: cartPulse 0.5s ease;
}
@keyframes cartPulse {
  0% { transform: scale(1); }
  35% { transform: scale(1.15); }
  100% { transform: scale(1); }
}


/* You can add global styles to this file, and also import other style files */
